@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

html, body, #root, canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: black;
}

.loading {
  position: absolute;
  width: 20rem;
  height: 20rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: large;
  text-align: center;
}

.loading p {
  color: rgba(78, 71, 219, 1);
}

.loading span {
  color: rgba(71, 136, 220, 1);
}

.main-container {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  width: 100%;
  z-index: 1;
}

.main-container header {
  padding-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.main-container header::before {
  position: absolute;
  content: '';
  top: 30%;
  transform: translateY(-50%);
  left: 10px;
  width: 40%;
  height: 5px;
  background: linear-gradient(to right, rgba(255, 50, 25, 1), rgba(255, 50, 25, 0));
}

.main-container header::after {
  position: absolute;
  content: '';
  top: 30%;
  transform: translateY(-50%);
  right: 10px;
  width: 40%;
  height: 5px;
  background: linear-gradient(to left, rgba(255, 50, 25, 1), rgba(255, 50, 25, 0));
}

.main-container header .logo {
  width: 10%;
}

.main-container header .logo img {
  width: 100%
}
